TrainControl.json
[{"id":"609be9ea.973f88","type":"tab","label":"TrainLoopNew","disabled":false,"info":""},{"id":"ba12880d.e1de28","type":"calculator","z":"609be9ea.973f88","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"inc","constant":"1","x":739.9999618530273,"y":166.00002098083496,"wires":[["590c4f3.a3ecdb"]]},{"id":"5aa2a8b8.b04f58","type":"delay","z":"609be9ea.973f88","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":575.9999847412109,"y":164.00004768371582,"wires":[["ba12880d.e1de28"]]},{"id":"2426a776.5ccbc8","type":"rpi-gpio out","z":"609be9ea.973f88","name":"","pin":"32","set":false,"level":"0","freq":"50","out":"pwm","x":1352.9999389648438,"y":362.00006103515625,"wires":[]},{"id":"a78beec0.18b2e","type":"ui_button","z":"609be9ea.973f88","name":"","group":"41cc80b1.1a844","order":5,"width":"3","height":"1","passthru":true,"label":"Stop","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"0","payloadType":"num","topic":"","x":96.00000381469727,"y":649.0001602172852,"wires":[["3dc36e85.f24f42","646bb5fd.651ddc"]]},{"id":"cb6df7e4.6c59b8","type":"switch","z":"609be9ea.973f88","name":"less40","property":"S1","propertyType":"flow","rules":[{"t":"lte","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":234.0001220703125,"y":164.00010585784912,"wires":[["8b48a8db.c69158"]]},{"id":"a6eaa7db.df8e98","type":"ui_button","z":"609be9ea.973f88","name":"","group":"41cc80b1.1a844","order":5,"width":"3","height":"1","passthru":false,"label":"Speed 40","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":87.00000762939453,"y":199.0000343322754,"wires":[["cb6df7e4.6c59b8","ff2fd4b4.b81a88","50a60d1e.9085a4"]]},{"id":"e2b843ec.0e397","type":"comment","z":"609be9ea.973f88","name":"Trian Output 32 to PWM Out 40 To Direction On for Reverse ","info":"","x":1340.000015258789,"y":225.00007009506226,"wires":[]},{"id":"70024c80.3a5c34","type":"inject","z":"609be9ea.973f88","name":"","topic":"","payload":"","payloadType":"num","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["9b00b675.4b7958"]]},{"id":"9b00b675.4b7958","type":"trigger","z":"609be9ea.973f88","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":240,"y":40,"wires":[["926cf9eb.050968"]]},{"id":"926cf9eb.050968","type":"rpi-gpio out","z":"609be9ea.973f88","name":"","pin":"38","set":true,"level":"0","freq":"","out":"out","x":420,"y":40,"wires":[]},{"id":"753ea7be.5da158","type":"ui_text_input","z":"609be9ea.973f88","name":"","label":"Speed","tooltip":"","group":"15a2a8db.5b4b07","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"C","x":1196.0173416137695,"y":399.67708683013916,"wires":[[]]},{"id":"a2c23528.1d6088","type":"change","z":"609be9ea.973f88","name":"","rules":[{"t":"set","p":"S1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050.0172843933105,"y":375.7881889343262,"wires":[["753ea7be.5da158","2426a776.5ccbc8"]]},{"id":"5b7b12a6.99b40c","type":"delay","z":"609be9ea.973f88","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630.9999389648438,"y":691.0002365112305,"wires":[["12d0c8f5.c987e7"]]},{"id":"3dc36e85.f24f42","type":"switch","z":"609be9ea.973f88","name":">0","property":"S1","propertyType":"flow","rules":[{"t":"gt","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":234.0174102783203,"y":693.0104823112488,"wires":[["d46f8130.91eb1"]]},{"id":"590c4f3.a3ecdb","type":"switch","z":"609be9ea.973f88","name":"less40","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":680.017333984375,"y":109.01041221618652,"wires":[["5aa2a8b8.b04f58","a2c23528.1d6088"]]},{"id":"8b48a8db.c69158","type":"change","z":"609be9ea.973f88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"S1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":392.6910171508789,"y":164.69450569152832,"wires":[["5aa2a8b8.b04f58"]]},{"id":"d46f8130.91eb1","type":"change","z":"609be9ea.973f88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"S1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":399.0174255371094,"y":695.0105075836182,"wires":[["5b7b12a6.99b40c"]]},{"id":"12d0c8f5.c987e7","type":"calculator","z":"609be9ea.973f88","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"dec","constant":"1","x":797.0173645019531,"y":693.0104637145996,"wires":[["c9af4c4e.1133a"]]},{"id":"c9af4c4e.1133a","type":"switch","z":"609be9ea.973f88","name":">0","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":709.0173263549805,"y":636.0104780197144,"wires":[["5b7b12a6.99b40c","a2c23528.1d6088"]]},{"id":"37762560.38a19a","type":"delay","z":"609be9ea.973f88","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610.0173034667969,"y":261.01049423217773,"wires":[["2f47698c.aa0dc6"]]},{"id":"ff2fd4b4.b81a88","type":"switch","z":"609be9ea.973f88","name":">40","property":"S1","propertyType":"flow","rules":[{"t":"gt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":226.0347671508789,"y":259.0207347869873,"wires":[["158462f2.3d88ed"]]},{"id":"158462f2.3d88ed","type":"change","z":"609be9ea.973f88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"S1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":402.03479385375977,"y":259.020788192749,"wires":[["37762560.38a19a"]]},{"id":"2f47698c.aa0dc6","type":"calculator","z":"609be9ea.973f88","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"dec","constant":"1","x":776.0347290039062,"y":263.0207214355469,"wires":[["aa6f1321.ad9b5","a2c23528.1d6088"]]},{"id":"aa6f1321.ad9b5","type":"switch","z":"609be9ea.973f88","name":">40","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"41","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":688.0346908569336,"y":206.02073574066162,"wires":[["37762560.38a19a"]]},{"id":"dfdfead0.359d88","type":"calculator","z":"609be9ea.973f88","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"inc","constant":"1","x":755.9999542236328,"y":371.0104064941406,"wires":[["496aa3c5.7dc83c"]]},{"id":"fe1046f5.ec16f8","type":"delay","z":"609be9ea.973f88","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":591.9999771118164,"y":369.0104331970215,"wires":[["dfdfead0.359d88"]]},{"id":"8a8a653.c58ca98","type":"switch","z":"609be9ea.973f88","name":"less60","property":"S1","propertyType":"flow","rules":[{"t":"lte","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250.00011444091797,"y":369.0104913711548,"wires":[["1505f870.7c3538"]]},{"id":"c0aeb86c.6b9868","type":"ui_button","z":"609be9ea.973f88","name":"","group":"41cc80b1.1a844","order":5,"width":"3","height":"1","passthru":false,"label":"Speed 60","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":103,"y":404.01041984558105,"wires":[["8a8a653.c58ca98","c22f0300.d9b5b","14ffc6e1.603d99"]]},{"id":"496aa3c5.7dc83c","type":"switch","z":"609be9ea.973f88","name":"less60","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":696.0173263549805,"y":314.0207977294922,"wires":[["fe1046f5.ec16f8","a2c23528.1d6088"]]},{"id":"1505f870.7c3538","type":"change","z":"609be9ea.973f88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"S1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":408.6910095214844,"y":369.704891204834,"wires":[["fe1046f5.ec16f8"]]},{"id":"57672816.b953e8","type":"delay","z":"609be9ea.973f88","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":626.0172958374023,"y":466.0208797454834,"wires":[["e4e139db.598098"]]},{"id":"c22f0300.d9b5b","type":"switch","z":"609be9ea.973f88","name":">60","property":"S1","propertyType":"flow","rules":[{"t":"gt","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":242.03475952148438,"y":464.03112030029297,"wires":[["cb510ebc.678d6"]]},{"id":"cb510ebc.678d6","type":"change","z":"609be9ea.973f88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"S1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":418.03478622436523,"y":464.0311737060547,"wires":[["57672816.b953e8"]]},{"id":"e4e139db.598098","type":"calculator","z":"609be9ea.973f88","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"dec","constant":"1","x":792.0347213745117,"y":468.03110694885254,"wires":[["3485d96b.7a38e6"]]},{"id":"3485d96b.7a38e6","type":"switch","z":"609be9ea.973f88","name":">60","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":704.0346832275391,"y":411.0311212539673,"wires":[["57672816.b953e8","a2c23528.1d6088"]]},{"id":"e5f3b7ee.288b08","type":"calculator","z":"609be9ea.973f88","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"inc","constant":"1","x":761.9999465942383,"y":568.0104370117188,"wires":[["af82de29.cd187"]]},{"id":"8ebb4211.7578f","type":"delay","z":"609be9ea.973f88","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":597.9999694824219,"y":566.0104637145996,"wires":[["e5f3b7ee.288b08"]]},{"id":"d3511370.6055","type":"switch","z":"609be9ea.973f88","name":"less60","property":"S1","propertyType":"flow","rules":[{"t":"lte","v":"77","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":256.00010681152344,"y":566.0105218887329,"wires":[["38a34e0f.7756f2"]]},{"id":"2b4abcee.163bd4","type":"ui_button","z":"609be9ea.973f88","name":"","group":"41cc80b1.1a844","order":5,"width":"3","height":"1","passthru":false,"label":"Speed 77","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":108.99999237060547,"y":601.0104503631592,"wires":[["d3511370.6055","caa93138.5d111"]]},{"id":"af82de29.cd187","type":"switch","z":"609be9ea.973f88","name":"less77","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"77","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":702.0173187255859,"y":511.0208282470703,"wires":[["8ebb4211.7578f","a2c23528.1d6088"]]},{"id":"38a34e0f.7756f2","type":"change","z":"609be9ea.973f88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"S1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":414.69100189208984,"y":566.7049217224121,"wires":[["8ebb4211.7578f"]]},{"id":"45528647.733968","type":"ui_button","z":"609be9ea.973f88","name":"","group":"41cc80b1.1a844","order":5,"width":"3","height":"1","passthru":true,"label":"Foward","tooltip":"","color":"","bgcolor":"black","icon":"","payload":"0","payloadType":"num","topic":"","x":100.0173568725586,"y":749.0104503631592,"wires":[["3dc36e85.f24f42","230e0c68.fe9304"]]},{"id":"677e8854.6de0c8","type":"ui_button","z":"609be9ea.973f88","name":"","group":"41cc80b1.1a844","order":5,"width":"3","height":"1","passthru":true,"label":"Reverse","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":101.0173568725586,"y":796.0104370117188,"wires":[["3dc36e85.f24f42","7375628f.fe0abc"]]},{"id":"8fc18b81.ada648","type":"trigger","z":"609be9ea.973f88","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"600","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1240.6805267333984,"y":568.982744216919,"wires":[["a2c23528.1d6088","5c0f6d38.bc1404","35277fc6.e5d01"]]},{"id":"501611eb.ce61e","type":"rpi-gpio out","z":"609be9ea.973f88","name":"Green40","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1505.3509616851807,"y":365.00000381469727,"wires":[]},{"id":"b4825e4b.0f2d3","type":"rpi-lcd","z":"609be9ea.973f88","name":"","pins":"37,35,33,31,29,23","x":1786.3507537841797,"y":658.9999713897705,"wires":[]},{"id":"26806b85.022c14","type":"change","z":"609be9ea.973f88","name":"Forward","rules":[{"t":"set","p":"payload","pt":"msg","to":"Forward","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1546.3507537841797,"y":538.9999713897705,"wires":[["b4825e4b.0f2d3"]]},{"id":"424501a1.4cb5c","type":"change","z":"609be9ea.973f88","name":"Reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"Reverse","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1546.3507537841797,"y":578.9999713897705,"wires":[["b4825e4b.0f2d3"]]},{"id":"14ffc6e1.603d99","type":"change","z":"609be9ea.973f88","name":"Speed 60","rules":[{"t":"set","p":"payload","pt":"msg","to":"2: Speed 60","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1546.3507537841797,"y":698.9999713897705,"wires":[["b4825e4b.0f2d3"]]},{"id":"caa93138.5d111","type":"change","z":"609be9ea.973f88","name":"Speed 77","rules":[{"t":"set","p":"payload","pt":"msg","to":"2: Speed 77","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1546.3507537841797,"y":738.9999713897705,"wires":[["b4825e4b.0f2d3"]]},{"id":"50a60d1e.9085a4","type":"change","z":"609be9ea.973f88","name":"Speed 40","rules":[{"t":"set","p":"payload","pt":"msg","to":"2: Speed 40","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1546.3507537841797,"y":658.9999713897705,"wires":[["b4825e4b.0f2d3"]]},{"id":"646bb5fd.651ddc","type":"change","z":"609be9ea.973f88","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"2: Stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1536.3507537841797,"y":618.9999713897705,"wires":[["b4825e4b.0f2d3"]]},{"id":"7375628f.fe0abc","type":"trigger","z":"609be9ea.973f88","op1":"","op2":"1","op1type":"nul","op2type":"num","duration":"4","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1373.3509826660156,"y":472.0000066757202,"wires":[["501611eb.ce61e","646bb5fd.651ddc","424501a1.4cb5c"]]},{"id":"230e0c68.fe9304","type":"trigger","z":"609be9ea.973f88","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"4","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1385.3509101867676,"y":418.99999046325684,"wires":[["501611eb.ce61e","646bb5fd.651ddc","26806b85.022c14"]]},{"id":"f524634a.c926d","type":"start-up-trigger","z":"609be9ea.973f88","x":1084.3506240844727,"y":651.0000343322754,"wires":[["8fc18b81.ada648"]]},{"id":"35277fc6.e5d01","type":"change","z":"609be9ea.973f88","name":"Select Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"2: Select Speed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1556.3507537841797,"y":818.9999713897705,"wires":[["b4825e4b.0f2d3"]]},{"id":"5c0f6d38.bc1404","type":"change","z":"609be9ea.973f88","name":"To Run TRain","rules":[{"t":"set","p":"payload","pt":"msg","to":"To Run Train","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1566.3507537841797,"y":778.9999713897705,"wires":[["b4825e4b.0f2d3"]]},{"id":"1c243eea.fc0ce1","type":"function","z":"609be9ea.973f88","name":"Date","func":"var now = new Date()\nreturn {payload: now};\n ","outputs":1,"noerr":0,"x":1348.3506774902344,"y":794.999997138977,"wires":[["b4825e4b.0f2d3"]]},{"id":"cf6d8d1e.be902","type":"rpi-gpio in","z":"609be9ea.973f88","name":"","pin":"36","intype":"tri","debounce":"25","read":true,"x":1015.3507537841797,"y":755.0001468658447,"wires":[["63989562.3f056c","8fc18b81.ada648"]]},{"id":"63989562.3f056c","type":"delay","z":"609be9ea.973f88","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180.350845336914,"y":770.000078201294,"wires":[["1c243eea.fc0ce1"]]},{"id":"74fc0f42.62385","type":"ui_button","z":"609be9ea.973f88","name":"","group":"ba9fe8c2.f596f8","order":0,"width":"1","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"black","bgcolor":"orange","icon":"","payload":"0","payloadType":"num","topic":"","x":967.3508415222168,"y":614.0000095367432,"wires":[["8fc18b81.ada648"]]},{"id":"48257dac.89f1a4","type":"rpi-gpio out","z":"609be9ea.973f88","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":503,"y":913.6771240234375,"wires":[]},{"id":"718b908f.f127e","type":"change","z":"609be9ea.973f88","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":335,"y":913.6771240234375,"wires":[["48257dac.89f1a4"]]},{"id":"25432a3a.b67476","type":"PlaySound","z":"609be9ea.973f88","name":"BellShort","playerOptions":"{}","audioURI":"/home/pi/Music/BellShort.mp3","options":"{}","x":1345.5001678466797,"y":1137.6775531768799,"wires":[[]]},{"id":"dbbf811f.1264","type":"ui_switch","z":"609be9ea.973f88","name":"","label":"Laps","tooltip":"","group":"ba9fe8c2.f596f8","order":0,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"gate","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":151,"y":911.6771240234375,"wires":[["718b908f.f127e","19627800.fbe178","275d35b4.1c667a"]]},{"id":"275d35b4.1c667a","type":"function","z":"609be9ea.973f88","name":"gate","func":"// read (or initialize) gate state\nvar gateIsOpen = context.get(\"gateIsOpen\") || false;\n\n//message is from switch\nif(msg.topic === \"gate\"){\n gateIsOpen = msg.payload;\n // store the gate state \n context.set(\"gateIsOpen\",gateIsOpen);\n}\n\n// message is from other sources\nelse{\n if(gateIsOpen === true){\n node.status({fill:\"green\",shape:\"ring\",text:\"gate is open\"});\n // send through the original message\n return msg;\n }\n else{\n //just display the status of gate\n node.status({fill:\"red\",shape:\"ring\",text:\"gate is closed\"});\n }\n}\n\n","outputs":1,"noerr":0,"x":329,"y":977.6771240234375,"wires":[["627fe93d.d7c7e8"]]},{"id":"627fe93d.d7c7e8","type":"counter","z":"609be9ea.973f88","name":"","init":"1","step":"1","lower":"","upper":"","mode":"increment","outputs":2,"x":522.5,"y":974.6771240234375,"wires":[["dd29964a.46a9a8","80c45771.889c58"],[]]},{"id":"3c7940f3.7b04a","type":"function","z":"609be9ea.973f88","name":"msg object","func":"msg.increment = 1;\nreturn msg;","outputs":1,"noerr":0,"x":331,"y":1072.6771240234375,"wires":[["275d35b4.1c667a"]]},{"id":"c4414334.cb4aa","type":"function","z":"609be9ea.973f88","name":"Reset","func":"msg.reset=\"0\";\nreturn msg;","outputs":1,"noerr":0,"x":519.0000152587891,"y":1169.6771411895752,"wires":[["627fe93d.d7c7e8"]]},{"id":"dd29964a.46a9a8","type":"delay","z":"609be9ea.973f88","name":"","pauseType":"delay","timeout":"22","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":751,"y":1018.6772136688232,"wires":[["3c7940f3.7b04a"]]},{"id":"19627800.fbe178","type":"change","z":"609be9ea.973f88","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340.5,"y":1128.6771240234375,"wires":[["c4414334.cb4aa"]]},{"id":"6bcc115f.a36e5","type":"change","z":"609be9ea.973f88","name":"","rules":[{"t":"set","p":"label","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":194.4999542236328,"y":1250.4549741744995,"wires":[["dbbf811f.1264"]]},{"id":"538cea42.f1e7b4","type":"change","z":"609be9ea.973f88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":641.4999694824219,"y":1296.6778545379639,"wires":[["6bcc115f.a36e5"]]},{"id":"80c45771.889c58","type":"ui_text_input","z":"609be9ea.973f88","name":"","label":"Read Laps","tooltip":"","group":"15a2a8db.5b4b07","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"30","topic":"A","x":734.5173034667969,"y":1134.5764436721802,"wires":[["38d9cb2.d541334"]]},{"id":"19137995.9e46c6","type":"change","z":"609be9ea.973f88","name":"","rules":[{"t":"set","p":"B","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":952.5172424316406,"y":1218.5766143798828,"wires":[["b07c1253.a664a"]]},{"id":"b07c1253.a664a","type":"function","z":"609be9ea.973f88","name":"LapCompare","func":"msg.A = parseInt((flow.get(\"A\") || \"0\"));\nmsg.B = parseInt((flow.get(\"B\") || \"0\"));\n\nif(msg.A === msg.B)\n{\n   //node.warn(`B  is equal A `)\n   msg.payload = msg.B;\n    //return [null,msg];\n    return [null,msg];\n}\n\nreturn msg;","outputs":2,"noerr":0,"x":1174.517162322998,"y":1159.576639175415,"wires":[[],["25432a3a.b67476","538cea42.f1e7b4","eaa6fb5.92e0e08"]]},{"id":"12167777.e079d9","type":"ui_text_input","z":"609be9ea.973f88","name":"","label":"Set Lap Number","tooltip":"","group":"15a2a8db.5b4b07","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"B","x":740.1839294433594,"y":1189.9898891448975,"wires":[["19137995.9e46c6"]]},{"id":"38d9cb2.d541334","type":"change","z":"609be9ea.973f88","name":"","rules":[{"t":"set","p":"A","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":951.5173492431641,"y":1165.5766353607178,"wires":[["b07c1253.a664a"]]},{"id":"e6262069.c4b07","type":"comment","z":"609be9ea.973f88","name":"Count  Laps then stop train","info":"","x":338.0173645019531,"y":847.6771240234375,"wires":[]},{"id":"eaa6fb5.92e0e08","type":"change","z":"609be9ea.973f88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":831.017333984375,"y":898.6771240234375,"wires":[["3dc36e85.f24f42","646bb5fd.651ddc"]]},{"id":"f8933c03.1637c","type":"ui_button","z":"609be9ea.973f88","name":"","group":"bc1cdaa2.023b28","order":2,"width":"2","height":"2","passthru":false,"label":"Reboot","tooltip":"","color":"black","bgcolor":"yellow","icon":"","payload":"","payloadType":"str","topic":"","x":123.01734352111816,"y":1987.1215629577637,"wires":[["76b4176b.1e0bb8"]]},{"id":"76b4176b.1e0bb8","type":"exec","z":"609be9ea.973f88","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Reboot","x":328.01734352111816,"y":1990.1215629577637,"wires":[[],[],[]]},{"id":"7ec327c6.3ecda8","type":"ui_button","z":"609be9ea.973f88","name":"","group":"9fb2d060.55d6f","order":3,"width":"2","height":"2","passthru":false,"label":"Shutdown","tooltip":"","color":"black","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":116.01734352111816,"y":2036.1215629577637,"wires":[["912a6533.297908"]]},{"id":"912a6533.297908","type":"exec","z":"609be9ea.973f88","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":329.01734352111816,"y":2040.1215629577637,"wires":[[],[],[]]},{"id":"820cb45e.12d088","type":"PlaySound","z":"609be9ea.973f88","name":"Train3","playerOptions":"{}","audioURI":"/home/pi/Music/TrainWhist (3).mp3","options":"{}","x":1060.0173454284668,"y":1612.1220149993896,"wires":[[]]},{"id":"df6becc1.3871e","type":"PlaySound","z":"609be9ea.973f88","name":"Train 2","playerOptions":"{}","audioURI":"/home/pi/Music/TrainWhist (2).mp3","options":"{}","x":359.01734924316406,"y":1534.12158203125,"wires":[[]]},{"id":"a6c50df7.9e32c","type":"PlaySound","z":"609be9ea.973f88","name":"Train4","playerOptions":"{}","audioURI":"/home/pi/Music/TrainWhist (4).mp3","options":"{}","x":359.01734924316406,"y":1614.12158203125,"wires":[[]]},{"id":"d0db1b53.1ab218","type":"ui_button","z":"609be9ea.973f88","name":"","group":"a4bc482e.88fb48","order":0,"width":"1","height":"1","passthru":false,"label":"Zach","tooltip":"","color":"black","bgcolor":"pink","icon":"","payload":"","payloadType":"str","topic":"","x":139.01734924316406,"y":1494.12158203125,"wires":[["cc0c7373.75393"]]},{"id":"6779d423.68799c","type":"ui_button","z":"609be9ea.973f88","name":"","group":"a4bc482e.88fb48","order":0,"width":"1","height":"1","passthru":false,"label":"Mp3-2","tooltip":"","color":"black","bgcolor":"pink","icon":"","payload":"","payloadType":"str","topic":"","x":139.01734924316406,"y":1534.12158203125,"wires":[["df6becc1.3871e"]]},{"id":"4fedc209.66abcc","type":"ui_button","z":"609be9ea.973f88","name":"","group":"a4bc482e.88fb48","order":0,"width":"1","height":"1","passthru":false,"label":"Mp3-4","tooltip":"","color":"black","bgcolor":"pink","icon":"","payload":"","payloadType":"str","topic":"","x":139.01734924316406,"y":1614.12158203125,"wires":[["a6c50df7.9e32c"]]},{"id":"26933c8c.3ccd24","type":"ui_button","z":"609be9ea.973f88","name":"","group":"a4bc482e.88fb48","order":0,"width":"1","height":"1","passthru":false,"label":"Mp3-5","tooltip":"","color":"black","bgcolor":"pink","icon":"","payload":"","payloadType":"str","topic":"","x":139.01734924316406,"y":1654.12158203125,"wires":[["f0750a8a.3e5918"]]},{"id":"6475dc1a.b1b674","type":"ui_button","z":"609be9ea.973f88","name":"","group":"a4bc482e.88fb48","order":0,"width":"1","height":"1","passthru":false,"label":"Mp3-6","tooltip":"","color":"black","bgcolor":"pink","icon":"","payload":"","payloadType":"str","topic":"","x":139.01734924316406,"y":1694.12158203125,"wires":[["e26f356a.149328"]]},{"id":"1383a2a3.b7430d","type":"ui_button","z":"609be9ea.973f88","name":"","group":"a4bc482e.88fb48","order":0,"width":"1","height":"1","passthru":false,"label":"Mp3-7","tooltip":"","color":"black","bgcolor":"pink","icon":"","payload":"","payloadType":"str","topic":"","x":139.01734924316406,"y":1734.12158203125,"wires":[["f67e83c8.d2ebb"]]},{"id":"a6e195a2.88c028","type":"ui_button","z":"609be9ea.973f88","name":"","group":"a4bc482e.88fb48","order":0,"width":"1","height":"1","passthru":false,"label":"Mp3-8","tooltip":"","color":"black","bgcolor":"pink","icon":"","payload":"","payloadType":"str","topic":"","x":139.01734924316406,"y":1774.12158203125,"wires":[["f9c23ddb.ad405"]]},{"id":"f0750a8a.3e5918","type":"PlaySound","z":"609be9ea.973f88","name":"Train 5","playerOptions":"{}","audioURI":"/home/pi/Music/TrainWhist (5).mp3","options":"{}","x":359.01734924316406,"y":1654.12158203125,"wires":[[]]},{"id":"e26f356a.149328","type":"PlaySound","z":"609be9ea.973f88","name":"Train 6","playerOptions":"{}","audioURI":"/home/pi/Music/TrainWhist (6).mp3","options":"{}","x":359.01734924316406,"y":1694.12158203125,"wires":[[]]},{"id":"f67e83c8.d2ebb","type":"PlaySound","z":"609be9ea.973f88","name":"Train 7","playerOptions":"{}","audioURI":"/home/pi/Music/TrainWhist (7).mp3","options":"{}","x":359.01734924316406,"y":1734.12158203125,"wires":[[]]},{"id":"f9c23ddb.ad405","type":"PlaySound","z":"609be9ea.973f88","name":"Train 8","playerOptions":"{}","audioURI":"/home/pi/Music/TrainWhist (8).mp3","options":"{}","x":359.01734924316406,"y":1774.12158203125,"wires":[[]]},{"id":"6b4076ca.8e5df8","type":"PlaySound","z":"609be9ea.973f88","name":"AllAboard","playerOptions":"{}","audioURI":"/home/pi/Music/AllAboard.mp3","options":"{}","x":1062.0173454284668,"y":1465.121813774109,"wires":[[]]},{"id":"ff9608de.259de8","type":"PlaySound","z":"609be9ea.973f88","name":"Bell","playerOptions":"{}","audioURI":"/home/pi/Music/Bell.mp3","options":"{}","x":1061.0173606872559,"y":1558.1217708587646,"wires":[[]]},{"id":"80f7607d.7484f","type":"PlaySound","z":"609be9ea.973f88","name":"Door","playerOptions":"{}","audioURI":"/home/pi/Music/Doors.mp3","options":"{}","x":1062.0173454284668,"y":1506.1217670440674,"wires":[[]]},{"id":"5fbd59e5.faa988","type":"PlaySound","z":"609be9ea.973f88","name":"Long","playerOptions":"{}","audioURI":"/home/pi/Music/Long.mp3","options":"{}","x":375.0173454284668,"y":1816.121618270874,"wires":[[]]},{"id":"9ba7c251.abb53","type":"ui_button","z":"609be9ea.973f88","name":"","group":"a4bc482e.88fb48","order":0,"width":"1","height":"1","passthru":false,"label":"Long","tooltip":"","color":"black","bgcolor":"pink","icon":"","payload":"","payloadType":"str","topic":"","x":139.01734924316406,"y":1818.1217002868652,"wires":[["5fbd59e5.faa988"]]},{"id":"7cc69af0.41f924","type":"ui_button","z":"609be9ea.973f88","name":"","group":"41cc80b1.1a844","order":5,"width":"5","height":"1","passthru":false,"label":"Speed 40+Music","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":144.01734924316406,"y":1398.0104665756226,"wires":[["6b4076ca.8e5df8","ca2cdfa6.bd9d8","14d73d9d.ba18d2","e59f1256.fedde","58fff22f.630b7c","eb27ac33.e2a2f"]]},{"id":"8756a463.493008","type":"change","z":"609be9ea.973f88","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":255.01734161376953,"y":2115.6769371032715,"wires":[[]]},{"id":"bb1623db.d0482","type":"ui_button","z":"609be9ea.973f88","name":"","group":"a4bc482e.88fb48","order":0,"width":"1","height":"1","passthru":false,"label":"Stop","tooltip":"","color":"black","bgcolor":"pink","icon":"","payload":"","payloadType":"str","topic":"","x":81.0173568725586,"y":2130.6769094467163,"wires":[["8756a463.493008"]]},{"id":"cc0c7373.75393","type":"PlaySound","z":"609be9ea.973f88","name":"Zachary","playerOptions":"{}","audioURI":"/home/pi/Music/Zach.mp3","options":"{}","x":368.0173645019531,"y":1486.010498046875,"wires":[[]]},{"id":"ca2cdfa6.bd9d8","type":"delay","z":"609be9ea.973f88","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":883.6874465942383,"y":1504.2434301376343,"wires":[["80f7607d.7484f"]]},{"id":"14d73d9d.ba18d2","type":"delay","z":"609be9ea.973f88","name":"","pauseType":"delay","timeout":"9","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":346.01737213134766,"y":1366.0108051300049,"wires":[["2cc3552e.a79d0a"]]},{"id":"2cc3552e.a79d0a","type":"change","z":"609be9ea.973f88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":528.0173416137695,"y":1367.7882843017578,"wires":[["cb6df7e4.6c59b8"]]},{"id":"e59f1256.fedde","type":"delay","z":"609be9ea.973f88","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":885.0173416137695,"y":1555.3437767028809,"wires":[["ff9608de.259de8"]]},{"id":"58fff22f.630b7c","type":"delay","z":"609be9ea.973f88","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":887.0172958374023,"y":1597.2326679229736,"wires":[["820cb45e.12d088"]]},{"id":"eb27ac33.e2a2f","type":"delay","z":"609be9ea.973f88","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":891.0173492431641,"y":1646.2327518463135,"wires":[["d0f9e3f2.4062c"]]},{"id":"d0f9e3f2.4062c","type":"PlaySound","z":"609be9ea.973f88","name":"Long","playerOptions":"{}","audioURI":"/home/pi/Music/Long.mp3","options":"{}","x":1071.017333984375,"y":1663.232666015625,"wires":[[]]},{"id":"c32a1b64.1b39d8","type":"comment","z":"609be9ea.973f88","name":"With Cytron 13A, 5-30V Single DC Motor Controller MD10C R3","info":"","x":1326.017318725586,"y":267.0104150772095,"wires":[]},{"id":"f9075868.497778","type":"comment","z":"609be9ea.973f88","name":"Remote Control For OutDoor Train","info":"","x":1002.017333984375,"y":47.010414123535156,"wires":[]},{"id":"6dba48e4.ec1dd8","type":"comment","z":"609be9ea.973f88","name":"Play Some Sound's","info":"","x":144.01734924316406,"y":1326.6771240234375,"wires":[]},{"id":"41cc80b1.1a844","type":"ui_group","z":"","name":"","tab":"f95b5dae.c3adf","disp":false,"width":"6","collapse":false},{"id":"15a2a8db.5b4b07","type":"ui_group","z":"","name":"boot","tab":"f95b5dae.c3adf","disp":false,"width":"6","collapse":false},{"id":"ba9fe8c2.f596f8","type":"ui_group","z":"","name":"","tab":"f95b5dae.c3adf","disp":false,"width":"6","collapse":false},{"id":"bc1cdaa2.023b28","type":"ui_group","z":"","name":"1","tab":"8b0cdd79.5bf99","disp":true,"width":"6","collapse":false},{"id":"9fb2d060.55d6f","type":"ui_group","z":"","name":"v","tab":"8b0cdd79.5bf99","disp":true,"width":"6","collapse":false},{"id":"a4bc482e.88fb48","type":"ui_group","z":"","name":"Music","tab":"f95b5dae.c3adf","disp":true,"width":"6","collapse":false},{"id":"f95b5dae.c3adf","type":"ui_tab","z":"","name":"Train","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8b0cdd79.5bf99","type":"ui_tab","z":"","name":"cpu","icon":"dashboard","disabled":false,"hidden":false}]